#---------------------------
# Maven
#---------------------------
target/

#---------------------------
# Intelij
#---------------------------
*.iml
.classpath
.project
.settings/**
.idea


#---------------------------
# Eclipse
#---------------------------
.metadata
.settings

#---------------------------
# OSX
#---------------------------
.DS_Store
clientdb.xml

#---------------------------
# Windows
#---------------------------
Thumbs.db

#---------------------------
# Editor byproducts (Vim)
#---------------------------
*.swp
*.swo

#---------------------------
# MobileFirst specific
#---------------------------

#adapter schema
generated-java

# buildtools
buildtools/globalization/default.rpxconfig

derby.log

.recommenders
